@import "tailwindcss";

@layer base {
  :root {
    @apply text-gray-900 bg-white font-sans antialiased;
  }

  body {
    @apply min-w-[320px] min-h-screen m-0;
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}
